<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>TravelPortal</display-name>
    <servlet>
        <servlet-name>EmployeeDeleteHandler</servlet-name>
        <servlet-class>servlets.admin_servlets.EmployeeDeleteHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeDeleteHandler</servlet-name>
        <url-pattern>/employeedeletehandle</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>AJAXAllMyTRFs</servlet-name>
        <servlet-class>servlets.ajax.AJAXAllMyTRFs</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>AJAXInProgressTRF</servlet-name>
        <servlet-class>servlets.ajax.AJAXInProgressTRF</servlet-class>
    </servlet>
        <servlet-mapping>
        <servlet-name>AJAXInProgressTRF</servlet-name>
        <url-pattern>/ajaxinprogresstrf</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>AJAXAllMyTRFs</servlet-name>
        <url-pattern>/ajaxallmytrfs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AJAXDepartmentChiefHandler</servlet-name>
        <servlet-class>servlets.admin_servlets.AJAXDepartmentChiefHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AJAXDepartmentChiefHandler</servlet-name>
        <url-pattern>/ajaxdepartmentchiefhandle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AJAXDepartmentRolesHandler</servlet-name>
        <servlet-class>servlets.admin_servlets.AJAXDepartmentRolesHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AJAXDepartmentRolesHandler</servlet-name>
        <url-pattern>/ajaxdeproleshandle</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>AJAXDepartmentRolesProcess</servlet-name>
        <servlet-class>servlets.admin_servlets.AJAXDepartmentRolesProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AJAXDepartmentRolesProcess</servlet-name>
        <url-pattern>/ajaxdeprolesprocess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AJAXDepartmentChiefProcess</servlet-name>
        <servlet-class>servlets.admin_servlets.AJAXDepartmentChiefProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AJAXDepartmentChiefProcess</servlet-name>
        <url-pattern>/ajaxdepchiefprocess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AJAXEmployeeEditHandler</servlet-name>
        <servlet-class>servlets.admin_servlets.AJAXEmployeeEditHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AJAXEmployeeEditHandler</servlet-name>
        <url-pattern>/ajaxemployeeshandle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportSaver</servlet-name>
        <servlet-class>servlets.ReportSaver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckboxesHandler</servlet-name>
        <servlet-class>servlets.admin_servlets.CheckboxesHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckboxesHandler</servlet-name>
        <url-pattern>/checkboxeshandle</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ReportsDataHandler</servlet-name>
        <servlet-class>servlets.reports.ReportsDataHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportsDataHandler</servlet-name>
        <url-pattern>/reportsdatahandler</url-pattern>    
    </servlet-mapping>
    <servlet>
        <servlet-name>AJAXDepartmentHandler</servlet-name>
        <servlet-class>servlets.ajax.AJAXDepartmentHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AJAXDepartmentHandler</servlet-name>
        <url-pattern>/ajaxdepartmenthandle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepartmentDeleteHandler</servlet-name>
        <servlet-class>servlets.admin_servlets.DepartmentDeleteHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentDeleteHandler</servlet-name>
        <url-pattern>/departmentdeletehandle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AJAXTrfsHandler</servlet-name>
        <servlet-class>servlets.ajax.AJAXTrfsHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AJAXTrfsHandler</servlet-name>
        <url-pattern>/ajaxtrfshandle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AJAXCitiesHandler</servlet-name>
        <servlet-class>servlets.ajax.AJAXCitiesHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAXTrfsProcess</servlet-name>
        <servlet-class>servlets.ajax.AJAXTrfsProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAXEmployeeProcess</servlet-name>
        <servlet-class>servlets.admin_servlets.AJAXEmployeeProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AJAXEmployeeProcess</servlet-name>
        <url-pattern>/ajaxemployeeprocess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AJAXHotelsHandler</servlet-name>
        <servlet-class>servlets.ajax.AJAXHotelsHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAXDestinationCreation</servlet-name>
        <servlet-class>servlets.ajax.AJAXDestinationCreation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AJAXCitiesHandler</servlet-name>
        <url-pattern>/ajaxcities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAXTrfsProcess</servlet-name>
        <url-pattern>/ajaxtrfsprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAXHotelsHandler</servlet-name>
        <url-pattern>/ajaxhotels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAXDestinationCreation</servlet-name>
        <url-pattern>/ajaxdest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AJAXEmployeeHandler</servlet-name>
        <servlet-class>servlets.ajax.AJAXEmployeeHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AJAXEmployeeHandler</servlet-name>
        <url-pattern>/ajaxemployeehandle</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>MainHandler</display-name>
        <servlet-name>MainHandler</servlet-name>
        <servlet-class>servlets.MainHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JQGridServlet</servlet-name>
        <servlet-class>servlets.JQGridServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jQGridTable</servlet-name>
        <servlet-class>jQGrid.jQGridTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainHandler</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AuthHandler</display-name>
        <servlet-name>AuthHandler</servlet-name>
        <servlet-class>servlets.AuthHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthHandler</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>QuitHandler</display-name>
        <servlet-name>QuitHandler</servlet-name>
        <servlet-class>servlets.QuitHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuitHandler</servlet-name>
        <url-pattern>/quit</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ServletHandler</display-name>
        <servlet-name>ServletHandler</servlet-name>
        <servlet-class>servlets.ServletHandler</servlet-class>
    </servlet>
    <filter>
        <display-name>LocaleCheck</display-name>
        <filter-name>LocaleCheck</filter-name>
        <filter-class>filters.LocaleCheck</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocaleCheck</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <servlet>
        <description/>
        <display-name>TrfsHandler</display-name>
        <servlet-name>TrfsHandler</servlet-name>
        <servlet-class>servlets.TrfsHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrfsHandler</servlet-name>
        <url-pattern>/trfs</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>ReportsHandler</display-name>
        <servlet-name>ReportsHandler</servlet-name>
        <servlet-class>servlets.ReportsHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportsHandler</servlet-name>
        <url-pattern>/reports</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>AdministratorHandler</display-name>
        <servlet-name>AdministratorHandler</servlet-name>
        <servlet-class>servlets.AdministratorHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministratorHandler</servlet-name>
        <url-pattern>/administrator</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>MyTrfsHandler</display-name>
        <servlet-name>MyTrfsHandler</servlet-name>
        <servlet-class>servlets.MyTrfsHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyTrfsHandler</servlet-name>
        <url-pattern>/mytrfs</url-pattern>
    </servlet-mapping>
    <filter>
        <display-name>TrfsAccess</display-name>
        <filter-name>TrfsAccess</filter-name>
        <filter-class>filters.TrfsAccess</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TrfsAccess</filter-name>
        <url-pattern>/trfs</url-pattern>
    </filter-mapping>
    <filter>
        <display-name>MyTrfsAccess</display-name>
        <filter-name>MyTrfsAccess</filter-name>
        <filter-class>filters.MyTrfsAccess</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MyTrfsAccess</filter-name>
        <url-pattern>/mytrfs</url-pattern>
    </filter-mapping>
    <filter>
        <display-name>AdministratorAccess</display-name>
        <filter-name>AdministratorAccess</filter-name>
        <filter-class>filters.AdministratorAccess</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdministratorAccess</filter-name>
        <url-pattern>/administrator</url-pattern>
    </filter-mapping>
    <filter>
        <display-name>ReportsAccess</display-name>
        <filter-name>ReportsAccess</filter-name>
        <filter-class>filters.ReportsAccess</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ReportsAccess</filter-name>
        <url-pattern>/reports</url-pattern>
    </filter-mapping>
    <filter>
        <display-name>RedirectToIndex</display-name>
        <filter-name>RedirectToIndex</filter-name>
        <filter-class>filters.RedirectToIndex</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RedirectToIndex</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
</web-app>
