<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Auth2</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainHandler</display-name>
    <servlet-name>MainHandler</servlet-name>
    <servlet-class>servlets.MainHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainHandler</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthHandler</display-name>
    <servlet-name>AuthHandler</servlet-name>
    <servlet-class>servlets.AuthHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthHandler</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitHandler</display-name>
    <servlet-name>QuitHandler</servlet-name>
    <servlet-class>servlets.QuitHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitHandler</servlet-name>
    <url-pattern>/quit</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RedirectToIndex</display-name>
    <filter-name>RedirectToIndex</filter-name>
    <filter-class>filters.RedirectToIndex</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RedirectToIndex</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletHandler</display-name>
    <servlet-name>ServletHandler</servlet-name>
    <servlet-class>servlets.ServletHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletHandler</servlet-name>
    <url-pattern>/ServletHandler</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LocaleCheck</display-name>
    <filter-name>LocaleCheck</filter-name>
    <filter-class>filters.LocaleCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocaleCheck</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FormsHandler</display-name>
    <servlet-name>FormsHandler</servlet-name>
    <servlet-class>servlets.FormsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormsHandler</servlet-name>
    <url-pattern>/forms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportsHandler</display-name>
    <servlet-name>ReportsHandler</servlet-name>
    <servlet-class>servlets.ReportsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportsHandler</servlet-name>
    <url-pattern>/reports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministratorHandler</display-name>
    <servlet-name>AdministratorHandler</servlet-name>
    <servlet-class>servlets.AdministratorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorHandler</servlet-name>
    <url-pattern>/administrator</url-pattern>
  </servlet-mapping>
</web-app>